In [1]:
import wzstats as wz
import csv
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/users.csv')
df

,name,plat,kd,winpct,wins,kills,killsPerGame,gulagLast100,hsLast100,kdLast100,gameIDs
0,d0ncic,xbl,1.234568,3.333333,5,500,3.333333,0.619048,0.188841,1.153465,127364889490544550;6320684864520723223;1033676...
1,NICKMERCS#11526,battle,4.373025,14.764834,744,46494,9.226831,0.827586,0.208376,4.429864,17837158414789481963;12566442349070955611;2833...
2,AYDAN#11691,battle,4.982685,12.710220,786,69927,11.307730,0.880952,0.171028,4.734513,1992934777753343208;7495523342168615093;734690...
3,TEEPEE#1840,battle,5.094419,27.636719,1981,81149,11.321010,0.879121,0.219237,5.342593,7281667249466132419;11172228004734822107;17832...
4,TOMMEY#21329,battle,5.056241,20.023945,1338,88105,13.185424,0.825000,0.267717,4.861244,7505873604023675579;4894258733829837567;224560...
5,RATED#21620,battle,4.814451,11.745930,736,65101,10.389563,0.880952,0.190299,4.764444,1992934777753343208;7495523342168615093;734690...

In [3]:
for index, x in df.iterrows():
    game_ids = x.gameIDs.split(';')
    with open('../dataset/games.csv', 'w', newline='') as csvfile:   
        writer = csv.writer(csvfile, delimiter=',', quotechar='\'', quoting=csv.QUOTE_MINIMAL)
        
        for id in game_ids:
            lobby = wz.getLobbyStats(str(id))
            for player in lobby:
                line = list(player.values())
                writer.writerow(line)